<div class="content-wrap">
    <div class="modal-header dialog-header-error">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h4 class="modal-title">
            <span class="glyphicon glyphicon-warning-sign"></span>
            {{header}}
        </h4>
    </div>
    <div class="modal-body">
        <p>{{content}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close(result.yes)">{{buttonOK}}</button>
    </div>
</div>
