<div class="content-wrap">
     <div class="full-height-content full-height-content-scrollable">
         <div class="full-height-content-body">
             <div class="col-md-12">
                 <div class="col-md-4 ">
                 	<player-stats user="user"></player-stats>
                 </div>
                 <div class="col-md-4">
					<inventory user="user" auction="auction"></inventory>
                 </div>
                 <div class="col-md-4">
					<current-auction user="user" auction="auction"></current-auction>
                 </div>
             </div>
         </div>
     </div>
</div>
